CompileFlags:
  CompilationDatabase: .
  Add: [-Wno-c99-designator]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No

Index:
  External:
    File: ~/.clangd-index.idx

Diagnostics:
  UnusedIncludes: None
