stage
*.blend1
*autosave*
.build
.stage
.staging
dist
.DS_Store
data
hotkeys.ork
*dblite
*/obj/*
*/lib/*
*.cst
*.swatch*
*.moc
*.ma
.idea
cmake-build*
mocs
nocommit/*
*__pycache__*
*/nocommit/*
.mayaSwatches/*
ork.build.ini
workspace.mel
ork.core/bin
ork.data/*.mox
ork.data/pc/*
ork.ent/bin
ork.lev2/bin
ork.tool/bin
docs/ork.core/*
miniorkbuild.ini
