stage
.stage
dist
.DS_Store
data
hotkeys.ork
*dblite
*/obj/*
*/lib/*
*.cst
*.swatch*
*.moc
mocs
.mayaSwatches/*
ork.build.ini
workspace.mel
ork.core/bin
ork.data/*.mox
ork.data/pc/*
ork.ent/bin
ork.lev2/bin
ork.tool/bin
docs/ork.core/*
miniorkbuild.ini
