<?xml version="1.0"?>
<settings>
	<renderers>
	  <renderer name="PRMan">
	    <compileTool>/opt/pixar/RenderManProServer-15.0/bin/shader</compileTool>
	    <renderTool>/opt/pixar/RenderManProServer-15.0/bin/prman</renderTool>
	  </renderer>
	  <renderer name="3Delight">
	    <compileTool>/projects/tozkit/3delight-10.0.50/bin/shaderdl</compileTool>
	    <renderTool>/projects/tozkit/3delight-10.0.50/bin/renderdl</renderTool>
	  </renderer>  
	</renderers>
	<nodes>
		<skipFolders>tmp, .svn, prop-base, props, text-base</skipFolders>
	</nodes>
</settings>
